.idea
ideas
.DS_Store
docs/.DS_Store
node_modules
jspm_packages
packages/app-decorators/src
packages/app-decorators/test
packages/app-decorators/build
packages/**/lib/
packages/**/tmp/
packages/**/node_modules
packages/**/jspm_packages