language: node_js
node_js:
  - "4.1"
  - "4.0"
  - "0.12"
  - "iojs"
before_install:
  - "export CHROME_BIN=chromium-browser"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "npm install jspm@0.16.15"
  - "node_modules/.bin/jspm config registries.github.auth $JSPM_GITHUB_AUTH_TOKEN"
  - "make install"
